.toolboxContainer {
	position: absolute;
	left: 1.25rem;
	top: 25%;
	padding: 1.25rem;
	border-radius: 0.375rem;
	width: 16rem;
	box-shadow: theme("colors.shadow1");
	border: 1px solid theme("colors.border1");
	background-color: theme("colors.background1");

	.toolItem {
		display: flex;
		margin-bottom: 1.25rem;
		flex-direction: column;
		justify-content: center;

		.toolText {
			font-size: 15px;
			font-weight: 600;
			color: theme("colors.text1");
		}
		.itemContainer {
			display: flex;
			justify-content: space-between;

			.colorBox {
				margin-right: 0.25rem;
				border-radius: 0.125rem;
				width: 1.25rem;
				height: 1.25rem;
				cursor: pointer;

				&:hover,
				&.active {
					border: 1.5px solid theme("colors.border2");
					box-shadow: theme("colors.shadow2");
				}
			}
		}
	}
}
