.menuContainer {
	display: flex;
	justify-content: space-between;
	padding: 2px 5px;
	position: absolute;
	top: 2.5rem;
	left: 50%;
	width: 25%;
	border-radius: 6px;
	border: 1px solid theme("colors.border1");

	transform: translateX(-50%);
	box-shadow: theme("colors.shadow1");

	.iconWrapper {
		/* @apply cursor-pointer flex justify-center items-center h-10 w-10 rounded-md; */

		display: flex;
		justify-content: center;
		align-items: center;
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 6px;
		cursor: pointer;
		&:hover,
		&.active {
			background-color: theme("colors.text2");
		}
		.icon {
			color: theme("colors.text1");
			font-size: 20px;
		}
	}
}
